:host {
  display: block;
}

:host .breadcrumbs {
  display: flex;

  & > * {
    & > * {
      padding: 8px;
    }

    &:not(:first-child):before {
      content: '>';
    }
  }
}

:host table {
  width: 100%;
}
