doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title
    style(type="text/css").
      body .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
        grid-gap: 10px;
      }
      body .cards > .card {
        display: grid;
        grid-template-rows: 40px 10px 10px 40px;
        grid-template-columns: 30px auto;
        font-family: sans;
        text-transform: uppercase;
      }
      body .cards > .card > * {
        align-self: center;
        justify-self: center;
      }
      body .cards > .card > .artist {
        grid-row: 2 / 4;
        font-size: 14px;
        padding: 8px;
        border-top: 1px solid;
        border-bottom: 1px solid;
      }
      body .cards > .card > .song {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        padding: 4px;
        font-weight: bold;
      }
      body .cards > .card > .song ~ .song {
        grid-row: 4 / 5;
      }
      body .cards > .card > .id {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        justify-self: center;
        color: white;
        font-weight: bold;
        font-size: 20px;
      }
      body .cards > .card > .id ~ .id {
        grid-row: 3 / 5;
      }
      body .cards > .card > .background {
        align-self: stretch;
        justify-self: stretch;
        background: black;
        grid-row: 1 / 5;
        grid-column: 1 / 2;
      }
  body
    -
      var letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'U', 'V'];
      var groups = [
        {songs: ['When I Need You', 'I Think We Fell In Love Too Fast'], artist: 'Leo Sayer'},
        {songs: ['I Don\'t Want to Have to Marry You', 'Have I Told You Lately That I Love You'], artist: 'Jim Ed Brown / Helen Cornelius'},
        {songs: ['Do You Wanna Make Love', 'Right Time of the Night'], artist: 'Peter McCann'},
        {songs: ['Feels Like The First Time', 'Woman on Woman'], artist: 'Foreigner'},
        {songs: ['Liars One, Believers Zero', 'What the Fuck are these Songs'], artist: 'Bill Anderson'},
      ]
    .cards
      each group, i in groups
        .card
          .background
          each song, j  in group.songs
            - var letter = letters[i * 2 + j]
            - var num = '1'
            .id= letter + num
            .song= song
          .artist= group.artist
